<nav class="bg-teal-700 p-2">
    <div class="grid grid-col-4 grid-flow-col w-4/12 text-white ">
        <div class="text-white">
            <a href="/videos/home">Home</a>
        </div>
        <div>           
             <a href="/videos/my-video">My Video</a>
        </div>
        <div>
            <a href="/video/post">Post Video</a>
            
        </div>
        <div>
            <a href="/admin">Admin</a>
            
        </div>
    </div>
</nav>